# Python + Conda/venv ignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

.ipynb_checkpoints/
*.ipynb_save

.venv/
venv/
env/
venv-test/
ENV/
*.env
*.venv

*.conda
*.yml~
*.yaml~

.vscode/
.idea/
*.swp
*.swo

data/
datasets/
outputs/
checkpoints/
runs/
logs/
wandb/
lightning_logs/
*.ckpt
*.pt
*.pth

.DS_Store
Thumbs.db

*.bak
*.tmp

# Ignore folders
slurm-*
results/
logs/
models/
